{% load static %}
<html>
<head>
<title>LOVE YOU
</title>
<link href="{% static 'bstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'speedhome.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/scrol.css' %}" rel="stylesheet">


</head>
<body>
 <nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
 <div class="container">
    <div class="navbar-header">
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
             <span class="icon-bar"></span>
			 <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
       </button>
	   <a href="" class="navbar-brand">SPEED</a>
	  </div>
	  <div class="collapse navbar-collapse" id="navbar-collapse">
	  <ul class="nav navbar-nav">
	     <li><a class="page-scroll" href="#students">Students</a>
	     <li><a class="page-scroll" href="#gallery">Gallery</a>
		 <li><a class="page-scroll" href="#feature">Feature</a>
		 <li><a class="page-scroll" href="#address">Address</a>
		 <li><a class="page-scroll" href="#contacts">Contacts </a>
	  </ul>
  </div>
  </div>
 </nav>
 </br>
 </br>
 <div class="jumbotron text-center">
    <div class="container ">
	<h2>Explanation</h2>
	<p>so i basically have no clue what jumbotron is,but this is what it apparently looks like</p>
	</div>
	<div class="btn-group">
	<a href="" class="btn btn-lg btn-default">View more picture</a>
    <a href="" class="btn btn-lg btn-default">Get more information</a>
    </div>
 </div>
 
 
 <div class="container">
 <section>
 <div class="page-header" id="students">
 <h2>Alumini :)<small>Hey there!</small></h2>
 </div>
 <h3>Name</h3>
 <div class="row">
 <div class="col-lg-4">
 <blockquote>
 <p>Nice of you to be inquisitve about me.Check out more cool stuff</p>
 <footer>VB</footer>
 </blockquote>
 </div>
  <div class="col-lg-4">
 <blockquote>
 <p>Nice of you to be inquisitve about me.Check out more cool stuff</p>
 <footer>VB</footer>
 </blockquote>
 </div>
  <div class="col-lg-4">
 <blockquote>
 <p>Nice of you to be inquisitve about me.Check out more cool stuff</p>
 <footer>VB</footer>
 </blockquote>
 </div>
 </div>
 </section>
 </div>
 
        <section>
        <div class="well">
	    <div class="container text-center">
		<h3>Subscription</h3>
		<p>Fill out the form to join our community! hurry:)</p>
		<form action="" class="form-inline">
		<div class="form-group">
        <input type="text"  class="form-control" id="name" placeholder="Your name please">
		<input type="text"  class="form-control" id="name" placeholder="Your E-mail please">
		<button type="submit" class="btn btn-warning">Register</button>
		<hr>
		</div>
		</form>
		</div>
		</div>
		</section>
		
		
		<div class="container">
		   <section>
		      <div class="page-header" id="gallery">
              <h2>Gallery :)<small>Hey there!</small></h2>
              </div>
		         <div id="myexp" class="carousel slide" data-interval="3000" data-ride="carousel">

  
                    <ol class="carousel-indicators">
                    <li data-target="#myexp" data-slide-to="0" class="active"></li>
                    <li data-target="#myexp" data-slide-to="1"></li>
                    <li data-target="#myexp" data-slide-to="2"></li>
                    </ol>
                          <div class="carousel-inner">
                               <div class="item active">
                                    <img src="my2.jpg" alt="...">
      
                               </div>
                               <div class="item">
                                    <img src="my6.jpg" alt="...">
      
                               </div>
                               <div class="item">
                                    <img src="my5.jpg" alt="...">
      
                               </div>
                          </div>
 
  <!-- Controls -->
                 <a class="left carousel-control" href="#myexp" role="button" data-slide="prev">
                     <span class="glyphicon glyphicon-chevron-left"></span>
                 </a>
                 <a class="right carousel-control" href="#myexp" role="bu tton" data-slide="next">
                     <span class="glyphicon glyphicon-chevron-right"></span>
                 </a>
                 </div> <!-- Carousel -->
             </section>
         <div>
		      
			  
			  
			  <div class="container">
			  <section>
			  <div class="page-header" id="feature">
			  <h3>Features<small>Get to know about all the features</small></h3>
			  </div>
			  <div class="row">
			  <div class="col-lg-8">
			  <h3>Reliable.</h3>
			  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text </p>
			  </div>
			  <div class="col-lg-4">
			  <img src="a.jpg" class="img-responsive">
			  </div>
			  </div>
			  </br>
			  <div class="row">
			  <div class="col-lg-8">
			  <h3>Fast.</h3>
			  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text </p>
			  </div>
			  <div class="col-lg-4">
			  <img src="b.jpg" class="img-responsive">
			  </div>
			  </br>
			  </br>
			  
			  </section>
			  </div>
			  <div class="row">
			  <div class="container">
			  <div class="col-lg-4">
			  <div class="panel panel-default">
			  <div class="panel-body">
			  <h3>First</h3>
			  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
			  </div>
			  </div>
			  </div>
			  <div class="col-lg-4">
			  <div class="panel panel-default">
			  <div class="panel-body">
			  <h3>Second</h3>
			  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
			  </div>
			  </div>
			  </div>
			  <div class="col-lg-4">
			  <div class="panel panel-default">
			  <div class="panel-body">
			  <h3>Third</h3>
			  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
			  </div>
			  </div>
			  </div>
			  </div>
			  </div>
			  
			  <!--address-->
			  <div class="container">
			  <section>
			  <div class="page-header" id="address"><h2>Address:</h2></div>
			  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
		      It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
              Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.

Where can I get some?
There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.



			  </p>
			  </section>
			  </div>
			  
			  
			  
			  <div class="container">
			  <div class="page header" id="contacts"><h2>Contact us:</h2></div>
			  <form action="" class="form-vertical">
			  <div class="form-group">
			  <label for="username" class="col-lg-2">Name</label>
			  <div class="col-lg-10"><input type="text"  class="form-control" id="name" placeholder="Your name please">
		      </div>
			  <label for="email" class="col-lg-2">Email</label>
			  <div class="col-lg-10"><input type="text"  class="form-control" id="email" placeholder="Your Email please">
		      </div>

			  </br>
			  </br>
			  </div>
			  <div class="form-group">
			  <div class="col-lg-12"><textarea cols="20" rows="5" type="text"  class="form-control" id="txt" placeholder="Your Query please :)!"></textarea>
			  
			  </div>
			  <button type="submit" class="btn btn-warning">Submit</button>
                               
			  </div>
			  
			  
			  </div>
			  
			  </br>
			  </br>
			  
			  
			  
			  <footer>
			  Thankyou for visitng!
			  </footer>
			  
			  
			</br>
			</br>
			
		 
	
 <script type = "text/javascript" 
         src = "{% static 'js/jquery.min.js' %}"></script>

</script>
<!-- jQuery -->
    <script src="{% static 'jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'bstrap/js/bootstrap.min.js' %}"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'js/scrol.js' %}"></script>
 </body>
</html>
